
<h1>Listing programmes</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>
 
  <% @programmes.each do |programme| %>
    <tr>
      <td><%= programme.title %></td>
      <td><%= programme.description %></td>
      <td><%= link_to 'Show', programme_path(programme) %></td>
      <td><%= link_to 'Edit', edit_programme_path(programme) %></td>
    </tr>
  <% end %>
  
</table>