<div class="card purple-border">
  <div class="flex justify-between">
    <span>
      <p class="fs14 grey mb10">
        Updated <%= time_ago_in_words(result.updated_at) %> ago
    </p>

      <h3><%= link_to result.searchable.title, result.searchable, class: 'fs18 medium black' %></h3>
    </span>

  </div>
</div>
