<div class="flex mb30 justify-between items-center">
  <h1 class="fs20 bold">Editing Group</h1>
  <%= link_to 'Back', project_group_path(@project, @group), class: 'medium' %>
</div>

<%= render 'form', group: @group %>
