<%= simple_form_for(unknown) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <div class="text-right">
    <%= f.button :submit, data: { disable_with: 'Updating...' } %>
  </div>
<% end %>
