<div class="flex mb30 justify-between items-center">
  <h1 class="fs20 bold">Unknowns</h1>
  <%= link_to 'New Unknown', new_unknown_path, class: 'medium' %>
</div>

<div class="flow flow20">
  <% @unknowns.each do |unknown| %>
    <%= render partial: 'card', locals: { edit: false, unknown: unknown } %>
  <% end %>
</div>

<%= paginate @unknowns %>

