<div class="row pb-3">
  <div class="col-6">
    <h1>Assumptions</h1>
  </div>
  <div class="col-6 text-right">
    <%= link_to 'Add Assumption', new_project_unknown_path(@project), class: 'btn btn-primary' %>
  </div>
</div>

<div class="flow flow20">
  <% @unknowns.each do |unknown| %>
    <%= render partial: 'card', locals: { edit: false, unknown: unknown } %>
  <% end %>
</div>

<%= paginate @unknowns %>
