<%= render "projects/header" %>

<div class="row">
  <% @unknowns.each do |unknown| %>
    <div class="col-md-3">
      <%= render partial: 'card', locals: { edit: false, unknown: unknown } %>
    </div>
  <% end %>
</div>

<%= paginate @unknowns %>
