<%= render "projects/header" %>

<div class="row">

  <div class="col-md-4">

    <h2 class="mb-3">We do not know</h2>
    <% @assumptions.each do |assumption| %>
      <%= render partial: 'assumptions/card', locals: { edit: false, assumption: assumption } %>
    <% end %>

  </div>

  <div class="col-md-4">

    <h2 class="mb-3">We think we know</h2>
    <% @think_knowns.each do |assumption| %>
      <%= render partial: 'assumptions/card', locals: { edit: false, assumption: assumption } %>
    <% end %>

  </div>

  <div class="col-md-4">

    <h2 class="mb-3">We know</h2>
    <% @knowns.each do |assumption| %>
      <%= render partial: 'assumptions/card', locals: { edit: false, assumption: assumption } %>
    <% end %>

  </div>

</div>
