<%= render "projects/header" %>

<p><%= @project.assumptions.where('group_id is null').size %> uncategorised cards</p>

<%- @project.groups.order(:created_at).each do |group| %>
  <%= render partial: 'groups/card', locals: { edit: false, group: group } %>
<% end %>

<% if policy(@project.groups.new).create? %>
  <div class="text-center py-3">
    <%= link_to new_project_group_path(@project), class: "btn btn-primary btn-icon" do %>
      New group
    <% end %>
  </div>
<% end %>
