<%= render "projects/header" %>

<%- @project.groups.order(:created_at).each do |group| %>
  <%= render partial: 'groups/card', locals: { edit: false, group: group } %>
<% end %>

<% if policy(@project.groups.new).create? %>
  <div class="text-center pt-3">
    <%= link_to new_project_group_path(@project), class: "btn btn-primary btn-icon" do %>
      <em class="fa fa-plus"></em>
      New Group
    <% end %>
  </div>
<% end %>
