.container.pt-5

  .row.justify-content-center.text-center.py-4.mb-4
    .col-md-8
      %h1 Welcome to Fusebox
      %p.lead.mb-4 A free tool to guide the design and development of your digital projects. Fusebox enables you to guide, prioritise and get support.
      =link_to "Get started", new_user_registration_path, class: "btn btn-info"

  .row.justify-content-start.py-5
    .col-md-6
      %h2.boxed-border.mb-4 Digital is overwhelming.
      %p You’re facing or care about problems that you know digital design and technology could solve - but you don’t know the best process to follow, next step to take or how to get the right support to realise your ambitions.

  .row.justify-content-end.py-5
    .col-md-6
      %h2.boxed-border.mb-4 You need confidence you’re working on the right things in the right way.
      %p You need a simple process to follow, practical advice and guidance and everyone to be on the same page.

  .row.justify-content-start.py-5
    .col-md-6
      %h2.boxed-border.mb-4 A design management tool.
      %p You’re facing or care about problems that you know digital design and technology could solve - but you don’t know the best process to follow, next step to take or how to get the right support to realise your ambitions.

.bg-light
  .container.py-5
    .row.justify-content-center
      .col-md-8
        %h2.mb-5.boxed-border We help charities untangle their digital projects
        .card.mb-3
          .card-body
            Get personalised guidance on the best process to follow and next step to take.
        .card.mb-3
          .card-body
            Uncover and prioritise the most important things you need to research and test.
        .card.mb-3
          .card-body
            Create a one page summary to share progress and rally support around your vision.
        .card.mb-3
          .card-body
            Gather all your knowledge in one place and build confidence through evidence.
        .card.mb-4
          .card-body
            Manage your pipeline of things to research and test (coming soon).
        .text-center
          =link_to "Get started", new_user_registration_path, class: "btn btn-info"

.bg-yellow
  .container.py-5
    %h2 Why did we create Fusebox?
    %h3 Simple habits
    %p Having a shared understanding Testing your understanding and ideas Regularly improving your understanding
    %h3 A way of working
    %p ‘Digital’ is about a way of working to respond to changing needs, expectations and behaviours with design and technology.
    %h3 Having the right impact
    %p In the end, it’s all about solving problems that matter by providing well-balanced user, social and financial value. Increasingly we’re seeing the impact of digital services that don’t appropriately account for their social impact, and we know through our work that most social organisations struggle to satisfy user needs in their pursuit for social impact.
