<div class="flex flex-column h-full items-center">
  <div class="max-w-2xl mx-auto px-4 my-8">
    <%= render partial: 'layouts/notices' %>

    <h1 class="text-2xl font-bold mb-4">Use design, technology and data to create the right impact, in the right way.</h1>

    <p class="text-lg mb-4">A tool to guide, plan and communicate digital service development.</p>

    <hr class="my-6">

    <p class="mb-6">Fusebox is currently invitation only. Already have an account?</p>

    <p class="mb-6"><%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary mb-6' %></p>

    <p class="text-sm text-gray-600">Want an invite? <%= mail_to 'hello@wearecast.org.uk', 'Express interest', subject: 'Fusebox invite', class: 'underline' %></p>
  </div>
</div>