<div class='container pt-5'>
  <div class='row justify-content-center text-center pb-4 pt-2 mb-4'>
    <div class='col-md-8'>
      <h1>Use design, technology and data to create the right impact, in the right way.</h1>
      <p class='lead mb-4'>A tool to guide, plan and communicate digital service development.</p>
      <%= link_to "Get started", new_user_registration_path, class: "btn btn-info" %>
    </div>
  </div>
  <div class='row justify-content-start py-5'>
    <div class='col-md-6'>
      <h2 class='boxed-border mb-3'>Digital is overwhelming.</h2>
      <p>You’re facing or care about problems that you know digital design, technology and data could help with - but you don’t know the best process to follow, next step to take or how to get the right support to realise your ambitions.</p>
    </div>
  </div>
  <div class='row justify-content-end py-5'>
    <div class='col-md-6'>
      <h2 class='boxed-border mb-3'>You need confidence you’re working on the right things in the right way.</h2>
      <p>You need a simple process to follow with clear milestones to hit, as well as personalised and pactical support to help you hit them.</p>
    </div>
  </div>
  <div class='row justify-content-start py-5'>
    <div class='col-md-6'>
      <h2 class='boxed-border mb-3'>That's where Fusebox comes in.</h2>
      <p>Fusebox guides you to create a visual project plan that helps you decide what to research and test next.</p>
    </div>
  </div>
</div>
<div class='bg-light'>
  <div class='container py-5'>
    <div class='row justify-content-center'>
      <div class='col-md-8'>
        <h2 class='mb-5 boxed-border text-center'>We help charities untangle their digital projects</h2>
        <div class='card mb-3'>
          <div class='card-body'>
            Create a visual project plan that helps you decide what to research and test next.
          </div>
        </div>
        <div class='card mb-3'>
          <div class='card-body'>
            Get personalised guidance on the best process to follow and next step to take.
          </div>
        </div>
        <div class='card mb-3'>
          <div class='card-body'>
            Uncover and prioritise the most important things you need to research and test.
          </div>
        </div>
        <div class='card mb-3'>
          <div class='card-body'>
            Create a one page summary to share progress and rally support around your vision.
          </div>
        </div>
        <div class='card mb-3'>
          <div class='card-body'>
            Gather all your knowledge in one place and build confidence through evidence.
          </div>
        </div>
        <div class='text-center'>
          <%= link_to "Get started", new_user_registration_path, class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
</div>
