<div class="row">

  <div class="col-8">
    <h1>In focus</h1>
    <p>You’re focussing on the following assumptions. Each week you’ll receive a reminder to quickly reflect on your progress towards becoming more confident in them. Your next reminder is on <strong><%= next_reminder_date.strftime("%a %e %b") %></strong>.</p>
  </div>

  <div class="col-4 text-right">
    <%= link_to new_reflection_path, class: "btn btn-info btn-icon" do %>
      <em class="fa fa-comment"></em>
      Post Reflections
    <% end %>
  </div>

</div>

<div class="row pt-3">
  <%- if @foci.any? %>
    <% @foci.each do |assumption| %>
      <div class="col-3">
        <%= render partial: 'assumptions/card', locals: { edit: false, assumption: assumption } %>
      </div>
    <% end %>
  <% else %>
    <p><em>You don’t have any assumptions in focus, pick some by browsing your <%= link_to "projects", projects_path %>.</em></p>
  <% end %>
</div>
