<h1>In focus</h1>

<%= link_to 'Change focus', '#todo' %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @foci.each do |unknown| %>
      <tr>
        <td><%= unknown.title %></td>
        <td><%= unknown.author.username %></td>
        <td><%= link_to 'Show', unknown %></td>
      </tr>
    <% end %>
  </tbody>
</table>
