<%= render partial: 'projects/subnav' %>

<div class="max-w-5xl mx-auto px-4 my-8">
  <p class="mb-6"><%= link_to '‹ Back to roadmap', project_path(@project), class: 'underline' %></p>

  <div class="md:flex flex-col md:flex-row-reverse">
    <div class="p-6 border-2 border-gray-300 text-gray-700 rounded-sm flex-1 mb-6 md:max-w-xs md:self-start">
      <h3 class="mb-3">What is an iteration?</h3>
      <p>You can think of an iteration as a short and very focused project.</p>
      <p>Usually between 2-12 weeks long - it involves a team, a deadline and a set of outcomes to work towards.</p>
      <p>By working in small batches it's easier to respond to new information and limit the risk of trying new ideas or making mistakes.</p>
      <p>Because of this, an iteration isn't complete until the team has reflected on what they've learnt and decided on what steps to take next - often another iteration.</p>
    </div>

    <div class="card flex-1 md:mr-6">
      <h1 class="mb-6">New iteration</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>