
<p>
  <strong>Title:</strong>
  <%= @outcome.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @outcome.description %>
</p>

<%= link_to 'Edit', edit_programme_iteration_path(:id => @iteration.id, 
                                                  :programme_id => @programme.id), class: "btn btn-primary" %>
<%= link_to 'Delete', programme_iteration_outcome_path([@programme, @iteration, @outcome]),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "btn btn-primary"%>