<div class="mr-2 mb-2 icon-circle bg-dark" data-title="<%= project_member.user.username %>" data-toggle="tooltip">
  <div class="text-white font-weight-bold">
    <%= project_member.user.initials.capitalize %>
  </div>
</div>
