@import url('https://rsms.me/inter/inter.css');

@import "trix";
@import "rails_bootstrap_forms";
@import "variables";
@import "bootstrap";
@import "helpers";
@import "components";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
