.navbar-brand {
  font-size: 2.5em;
  padding-top: 0;
  padding-bottom: 0;
  .boxed-border {
    &:before, &:after {
      height: 0.35em;
      width: 0.35em;
    }
  }
}

.btn {
  padding-left: 2rem;
  padding-right: 2rem;
  &.btn-info {
    color: white;
  }
}

.card-deck {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
}

.card-deck .card {
  display: block;
  flex-basis: 20%;
}

.vertical-center {
  min-height: 100%;
  display: flex;
  align-items: center;
}
