<div class="flex mb30 justify-between items-center">
  <h1 class="fs20 bold">Editing Insight</h1>
  <%= link_to 'Back', [@project, @insight], class: 'medium' %>
</div>

<%= render 'form', insight: @insight %>
