<div class="row pb-3">
  <div class="col-6">
    <h1>Insights</h1>
  </div>
  <div class="col-6 text-right">
    <%= link_to 'New Insight', new_insight_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="flow flow20">
  <% @insights.each do |insight| %>
    <%= render partial: 'card', locals: { edit: false, insight: insight } %>
  <% end %>
</div>

<%= paginate @insights %>
