<%= render partial: 'card', locals: { edit: true, insight: @insight } %>

<ul class="history">
  <%- @insight.proofs.each do |proof| %>
    <li>Contributing <strong><%= proof.confidence %></strong> confidence to Unknown <span class="medium"><%= link_to proof.unknown.title, proof.unknown %></span> <%= time_ago_in_words(proof.updated_at) %> ago.</li>
  <% end %>
</ul>
