<h1>Check-in overdue!</h1>

<p>Your team has yet to complete its regular check-in to self-assess its progress against the outcomes of an iteration.</p>

<ol>
  <li>Have one person load up the <%= link_to 'team check-in form', new_project_iteration_check_in_url(@iteration.project, @iteration) %> and use it as a guide for a quick chat with team members.</li>
  <li>For each outcome select a consensus rating for the group and add a brief description of why the rating has been given and what next steps or support would help with any challenges.</li>
  <li>Submit the form!</li>
</ol>