<h1>Iteration Updated</h1>

<p><%= @user.full_name %> has updated an iteration for <%= @project.title %> on Fusebox.</p>

<p><%= link_to 'View iteration', project_iteration_url(@project, @iteration) %></p>