<h1>Iteration Added</h1>

<p><%= @user.full_name %> has added an iteration for <%= @project.title %> on Fusebox.</p>

<p><%= link_to 'View iteration', project_iteration_url(@project, @iteration) %></p>