<p>Hi <%= @user.username %>,</p>

<p>Based on the unknowns you're focusing on this week it should take <%= pluralize(@user.in_focus.size + 2, 'click') %> and a few sentences to complete your reflection this week.</p>

<p>Quick and easy!</p>

<%= link_to 'Reflect on the past week', new_reflection_url %>
