<p>Hi <%= @user.username %>,</p>

The week is ending soon. Don't forget to <strong><%= link_to 'share an update with your team', new_reflection_url %></strong>.

<p>Based on the unknowns you're focusing on, it should take <%= pluralize(@user.in_focus.size + 2, 'click') %> and a few sentences. Quick and easy!</p>

--
