%footer.text-center.bg-dark.text-light.mt-5.fixed-bottom
  .container.py-3
    Fusebox is powered by your friends at
    =link_to "CAST", "https://wearecast.org.uk", class: 'text-light'
    %nav.pt-2
      =link_to "Terms and Conditions", terms_path, class: 'text-light mr-3'
      =link_to "Privacy Policy", privacy_path, class: 'text-light'
