<footer class="text-center bg-dark text-light pb-5 pt-1">
  <div class="container py-4">
    Fusebox is powered by your friends at
    <%= link_to 'CAST', 'https://wearecast.org.uk', target: '_blank', class: 'text-light link-border' %>
    <nav class="pt-4 pb-2 small">
      <%= link_to "Terms and Conditions", terms_path, class: 'text-light mr-3' %>
      <%= link_to "Privacy Policy", privacy_path, class: 'text-light' %>
    </nav>
  </div>
</footer>
