- if user_signed_in?

  %header.bg-light
    .container.py-4

      %nav.navbar.navbar-expand-lg.navbar-light.p-0
        %h1.mb-0.navbar-brand.pr-5
          =link_to root_path, class: "text-dark" do
            %span<
              %span> Fuse
              %span.boxed-border> box
            .alpha alpha

        %button.navbar-toggler{type: "button", "data-toggle": "collapse", "data-target": "#navbarNavAltMarkup", "aria-controls": "navbarNavAltMarkup", "aria-expanded": "false", "aria-label": "Toggle navigation" }
          %span.navbar-toggler-icon

        .collapse.navbar-collapse#navbarNavAltMarkup

          .ml-auto

            =form_for :search, url: search_index_path, method: 'GET', html: { class: 'form-inline' } do |f|
              .input-group
                =f.text_field :query, class: 'form-control'
                .input-group-append
                  =f.button type: "submit", class: 'btn btn-dark input-sm' do |button|
                    %em.fa.fa-search


          .nav-item.dropdown.ml-4
            %a.dropdown-toggle.text-dark#navbarDropdown{ href: "#", role: "button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false" }
              .icon-circle.bg-dark
                %em.fa.fa-user.text-light
            %ul.dropdown-menu.dropdown-menu-right.mt-3{"aria-labelledby": "navbarDropdown"}
              .px-4="#{current_user&.username}"
              .dropdown-divider
              %li.dropdown-item= link_to 'My Focus', foci_path
              .dropdown-divider
              %li.dropdown-item=link_to 'Edit Profile', edit_user_registration_path
              %li.dropdown-item=link_to 'Sign out', destroy_user_session_path, method: :delete

-else

  %header
    .container.py-4

      %nav.navbar.navbar-expand-lg.navbar-light.p-0
        %h1.mb-0.navbar-brand.pr-3
          =link_to root_path, class: "text-dark" do
            %span<
              %span> Fuse
              %span.boxed-border> box
            .alpha alpha
        .ml-auto
          =link_to "Sign in", new_user_session_path, class: "btn btn-primary mr-3"
          =link_to "Sign up", new_user_registration_path, class: "btn btn-outline-dark"

%section
  .alert.alert-dark
    .container
      This is a prototype,
      = succeed '.' do
        = mail_to 'suraj@wearecast.org.uk', 'your feedback will help us improve', subject: 'Fusebox feedback', class: 'text-primary'

-if notice.present? || alert.present?
  %section#alerts.pt-4
    .container
      -if notice.present?
        %p.alert.alert-primary=notice
      -if alert.present?
        %p.alert.alert-warning=alert
