<article class="flow mb20">
  <h1 class="fs20 bold">Welcome!</h1>

  <p>This is a prototype tool to explore the question - <em>how might we enable individuals/teams to embed test and learn behaviours?</em></p>

  <p>You can read more about the tool <%= link_to 'here', 'https://docs.google.com/document/d/1V--P4izQ5MuH-J_pqNGGtaE-9Kxx6ylUPIhkjGnUwiA', target: '_blank', rel: 'noopener', class: 'medium' %>, but the main idea is as follows:</p>

  <ol>
    <li>You pick some <span class="medium">Assumptions</span> [1] to focus on becoming more confident in.</li>
    <li>As you discover new <span class="medium">Insights</span> [2] you're able to record the highlights against your Assumptions.</li>
    <li>You're reminded at the end of each week to quickly reflect on your progress.</li>
  </ol>

  <p>The short term focus of this tool is to be used internally to help us manage our own insight whilst refining it for a public release. As such, the tool may be lacking a number of features and include some bugs, so internal testing will give us a quick way to resolve these issues.</p>

  <p>Lastly, your work email has be pre-registered, and you can log in or reset your password using the controls below. If you get stuck, have questions, or feedback then please <%= mail_to 'suraj@wearecast.org.uk', 'get in touch', subject: 'Feedback fusebox-insights' %>.</p>

  <p class="fs15 grey">[1] Assumptions -  Often questions or assumptions about a project that you want to be more certain about.</p>

  <p class="fs15 grey">[2] Insights - Often things you've discovered through observation, research and testing which can add to your understanding of an Assumption.</p>

  <hr>
</article>
