%nav
  = link_to 'In focus', in_focus_path, class: current_controller?('foci')
  = link_to 'Unknowns', unknowns_path, class: current_controller?('unknowns')
  = link_to 'Insights', insights_path, class: current_controller?('insights')
